# Prerequisites
*.d

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker Files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Fortran module Files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Information Files
*.dwo

# Visual Studio Cache
.vs/

# CLion Cache
.idea/

# Build Directory
out/
